* {
  --color01: #0c1c8c;
  --color02: white;
  --color03: #3a7728;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color01);
  color: white;
  /* padding: 0.5em, 1em; */
  padding: 1em;
  font-weight: 700;
  font-size: 1.5em;
  max-height: 2em;
}
.left {
  display: flex;
  gap: 7px;
}
img {
  width: 1em;
  height: 1em;
}
.profile {
  display: flex;
  gap: 1em;
}
.profile-picture {
  width: 2em;
  height: 2em;
}
.button {
  background-color: var(--color03);
  color: var(--color02);
  border-style: none;
  padding: 1em 1.33em;
  border-radius: 1em;
  height: 3.5em;
}
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-height: 10em;
  }
}
