@import "@angular/material/prebuilt-themes/purple-green.css";
* {
  --color01: #0c1c8c;
  --color02: white;
  --color03: #3a7728;
}
button {
  background-color: var(--color01);
  color: var(--color02);
  border-style: none;
  padding: 2em 1.33em;
  width: 60em;
  border-radius: 1em;
  font-size: 1.3em;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.task-column {
  gap: 2em;
}
.project-select-info {
  display: flex;
  gap: 1em;
  height: 4.5em;
}
.small-button {
  width: auto;
  padding: 1em 1.33em;
}
.project-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: 500;
}
p {
  font-weight: 500;
}
.select-project {
  padding: 1em 1.33em;
  display: flex;
  gap: 3px;
  font-size: 1.4em;
}
@media only screen and (max-width: 768px) {
  button {
    width: 90vw;
    font-size: 1em;
  }
  .project-select-info {
    flex-direction: column;
  }
  .select-project {
    padding: 0;
  }
  .add-task-button {
    margin-bottom: 4em;
  }
}
